.cart-items{
    margin:  100px 170px;

}
.cart-items hr{
    height: 3px;
     background: #5c5b5b;
     border: 0;
}
.format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #000000;
    font-size: 22px;
    font-weight: 600;

}
.format{
    color: #5c5b5b;
    font-size: 18px;
    font-weight: 500;
}
.product-icon{
    height: 62px;
}
.remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.quantity{
     width: 64px;
     height: 50px;
     border: 2px solid rgba(255, 255, 254, 0.463);
     background: rgb(233, 231, 231);
     font-weight: 600;
}
.down{
    display: flex;
    margin: 100px 0px;
}
.total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.total-item{
    display: flex;
    justify-content: space-between ;
    padding: 15px 0px;
}
.total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: red;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.promocode p{
    color: #323232;
}
.promobox{
    width: 500px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #e8e7e7;
}
.promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
    padding-left: 20px;
}
.promobox button{
    width: 150px;
    height: 58px;
    font-size: 16px;
    background: #272626;
    color: white;
    cursor: pointer;
}